# $Id$

# LOG FACILITY
# The syslog facility that should be used for logging purposes.
log_facility=daemon

# PID FILE
# The name of the file in which the NRPE daemon should write it's process ID
# number.  The file is only written if the NRPE daemon is started by the root
# user and is running in standalone mode.
pid_file=/var/spool/nagios/nrpe2.pid

# PORT NUMBER
# Port number we should wait for connections on.
# NOTE: This must be a non-priviledged port (i.e. > 1024).
# NOTE: This option is ignored if NRPE is running under either inetd or xinetd
server_port=5666

# SERVER ADDRESS
# Address that nrpe should bind to in case there are more than one interface
# and you do not want nrpe to bind on all interfaces.
# NOTE: This option is ignored if NRPE is running under either inetd or xinetd
#server_address=127.0.0.1

# NRPE USER
# This determines the effective user that the NRPE daemon should run as.
# You can either supply a username or a UID.
#
# NOTE: This option is ignored if NRPE is running under either inetd or xinetd
nrpe_user=nagios

# NRPE GROUP
# This determines the effective group that the NRPE daemon should run as.
# You can either supply a group name or a GID.
#
# NOTE: This option is ignored if NRPE is running under either inetd or xinetd
nrpe_group=nagios

# ALLOWED HOST ADDRESSES
# This is an optional comma-delimited list of IP address or hostnames
# that are allowed to talk to the NRPE daemon.
#
# Note: The daemon only does rudimentary checking of the client's IP
# address.  I would highly recommend adding entries in your /etc/hosts.allow
# file to allow only the specified host to connect to the port
# you are running this daemon on.
#
# NOTE: This option is ignored if NRPE is running under either inetd or xinetd
allowed_hosts=127.0.0.1,192.168.100.102,fd3e:be3e:ec34::102

# COMMAND ARGUMENT PROCESSING
# This option determines whether or not the NRPE daemon will allow clients
# to specify arguments to commands that are executed.  This option only works
# if the daemon was configured with the --enable-command-args configure script
# option.
#
# *** ENABLING THIS OPTION IS A SECURITY RISK! ***
# Read the SECURITY file for information on some of the security implications
# of enabling this variable.
#
# Values: 0=do not allow arguments, 1=allow command arguments
dont_blame_nrpe=0

# COMMAND PREFIX
# This option allows you to prefix all commands with a user-defined string.
# A space is automatically added between the specified prefix string and the
# command line from the command definition.
#
# *** THIS EXAMPLE MAY POSE A POTENTIAL SECURITY RISK, SO USE WITH CAUTION! ***
# Usage scenario:
# Execute restricted commmands using sudo.  For this to work, you need to add
# the nagios user to your /etc/sudoers.  An example entry for alllowing
# execution of the plugins from might be:
#
# nagios          ALL=(ALL) NOPASSWD: /usr/local/libexec/nagios/
#
# This lets the nagios user run all commands in that directory (and only them)
# without asking for a password.  If you do this, make sure you don't give
# random users write access to that directory or its contents!
# command_prefix=/usr/local/bin/sudo

# DEBUGGING OPTION
# This option determines whether or not debugging messages are logged to the
# syslog facility.
# Values: 0=debugging off, 1=debugging on
debug=0

# COMMAND TIMEOUT
# This specifies the maximum number of seconds that the NRPE daemon will
# allow plugins to finish executing before killing them off.
command_timeout=60

# CONNECTION TIMEOUT
# This specifies the maximum number of seconds that the NRPE daemon will
# wait for a connection to be established before exiting. This is sometimes
# seen where a network problem stops the SSL being established even though
# all network sessions are connected. This causes the nrpe daemons to
# accumulate, eating system resources. Do not set this too low.
connection_timeout=300

# WEEK RANDOM SEED OPTION
# This directive allows you to use SSL even if your system does not have
# a /dev/random or /dev/urandom (on purpose or because the necessary patches
# were not applied). The random number generator will be seeded from a file
# which is either a file pointed to by the environment valiable $RANDFILE
# or $HOME/.rnd. If neither exists, the pseudo random number generator will
# be initialized and a warning will be issued.
# Values: 0=only seed from /dev/[u]random, 1=also seed from weak randomness
#allow_weak_random_seed=1

# INCLUDE CONFIG FILE
# This directive allows you to include definitions from an external config file.
#include=<somefile.cfg>

# INCLUDE CONFIG DIRECTORY
# This directive allows you to include definitions from config files (with a
# .cfg extension) in one or more directories (with recursion).

#include_dir=<somedirectory>
#include_dir=<someotherdirectory>

# COMMAND DEFINITIONS
# Command definitions that this daemon will run.  Definitions
# are in the following format:
#
# command[<command_name>]=<command_line>
#
# When the daemon receives a request to return the results of <command_name>
# it will execute the command specified by the <command_line> argument.
#
# Unlike Nagios, the command line cannot contain macros - it must be
# typed exactly as it should be executed.
#
# Note: Any plugins that are used in the command lines must reside
# on the machine that this daemon is running on!  The examples below
# assume that you have plugins installed in a /usr/local/nagios/libexec
# directory.  Also note that you will have to modify the definitions below
# to match the argument format the plugins expect.  Remember, these are
# examples only!


# The following examples use hardcoded command arguments...

command[check_users]=/usr/local/libexec/nagios/check_users -w 5 -c 10
command[check_load_alix]=/usr/local/libexec/nagios/check_load -w 7,6,5 -c 10,9,8
command[check_load_servers]=/usr/local/libexec/nagios/check_load -w 5,4,3 -c 10,9,8
command[check_load_servers4]=/usr/local/libexec/nagios/check_load -w 10,8,6 -c 12,10,8
command[check_swap]=/usr/local/libexec/nagios/check_swap -w 50% -c 30%
command[check_swap_alix]=/usr/local/libexec/nagios/check_swap -w 35% -c 25%
command[check_guengel_crl]=/usr/local/libexec/nagios/check_crl -w 14 -c 3 -f /etc/ssl/guengel.ch.crl

command[check_root]=/usr/local/libexec/nagios/check_disk -w 20% -c 10% -p /
command[check_var]=/usr/local/libexec/nagios/check_disk -w 20% -c 10% -p /var
command[check_tmp]=/usr/local/libexec/nagios/check_disk -w 20% -c 10% -p /tmp
command[check_pxe]=/usr/local/libexec/nagios/check_disk -w 20% -c 10% -p /pxe
command[check_usr]=/usr/local/libexec/nagios/check_disk -w 20% -c 10% -p /usr
command[check_usr_obj]=/usr/local/libexec/nagios/check_disk -w 20% -c 10% -p /usr/obj
command[check_usr_src]=/usr/local/libexec/nagios/check_disk -w 20% -c 10% -p /usr/src
command[check_usr_local]=/usr/local/libexec/nagios/check_disk -w 20% -c 10% -p /usr/local
command[check_tank1]=/usr/local/libexec/nagios/check_disk -w 2% -c 1% -p /tank1
command[check_opt]=/usr/local/libexec/nagios/check_disk -w 20% -c 10% -p /opt
command[check_var_log]=/usr/local/libexec/nagios/check_disk -w 20% -c 10% -p /var/log
command[check_var_tmp]=/usr/local/libexec/nagios/check_disk -w 20% -c 10% -p /var/tmp
command[check_var_spool]=/usr/local/libexec/nagios/check_disk -w 20% -c 10% -p /var/spool
command[check_var_svn]=/usr/local/libexec/nagios/check_disk -w 20% -c 10% -p /var/svn
command[check_var_www]=/usr/local/libexec/nagios/check_disk -w 20% -c 10% -p /var/www
command[check_export]=/usr/local/libexec/nagios/check_disk -w 15% -c 10% -p /export
command[check_var_spool_imap]=/usr/local/libexec/nagios/check_disk -w 20% -c 10% -p /var/spool/imap
command[check_var_pgsql]=/usr/local/libexec/nagios/check_disk -w 20% -c 10% -p /var/pgsql
command[check_amandatapes]=/usr/local/libexec/nagios/check_disk -w 5% -c 3% -p /amandatapes
command[check_tank]=/usr/local/libexec/nagios/check_disk -w 20% -c 15% -p /tank

command[check_zombie_procs]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_procs -w 10 -c 15 -s Z
command[check_total_procs300]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_procs -w 300 -c 320
command[check_total_procs200]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_procs -w 200 -c 220
command[check_total_procs100]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_procs -w 100 -c 120
command[check_total_procs70]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_procs -w 70 -c 90
command[check_total_procs60]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_procs -w 60 -c 80
command[check_total_procs50]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_procs -w 50 -c 70
command[check_total_procs40]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_procs -w 40 -c 60
command[check_total_procs30]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_procs -w 30 -c 50

command[check_mailq_clients]=/usr/local/libexec/nagios/check_mailq -w 2 -c 5
command[check_mailq_servers]=/usr/local/libexec/nagios/check_mailq -w 5 -c 10

command[check_proc_cfexecd]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_procs -C cf-execd -c 1:1
command[check_proc_syslogd]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_procs -C syslogd -c 1:1
command[check_proc_syslogd_jail_runner]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_procs -C syslogd -c 1:
# on eventhorizon, with all its jails, 30 is a reasonable amount. For other hosts, 30 won't hurt
command[check_proc_sendmail]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_procs -C sendmail -c 1:30
command[check_proc_ntpd]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_procs -C ntpd -c 1:3
command[check_proc_cron]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_procs -C cron -c 1:20
command[check_proc_agentsmith]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_procs -C agentsmith -c 1:1
command[check_proc_httpd]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_procs -C httpd -c 2:80
command[check_proc_nginx]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_procs -C nginx
command[check_proc_postgres]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_procs -C postgres -c 1:80
command[check_proc_sshd]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_procs -C sshd -c 1:20
command[check_proc_saslauthd]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_procs -C saslauthd -c 1:40
command[check_proc_cyrus]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_procs -C master -c 1:1
command[check_proc_slapd]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_procs -C slapd -c 1:1
command[check_proc_named]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_procs -C named -c 1:1
command[check_proc_cupsd]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_procs -C cupsd -c 1:1
command[check_proc_cups-browsed]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_procs -C cups-browsed -c 1:1
command[check_proc_clamd]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_procs -C clamd -c 1:1
command[check_proc_nmbd]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_procs -C nmbd -c 1:1
command[check_proc_smbd]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_procs -C smbd -c 1:10
command[check_proc_freshclam]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_procs -C freshclam -c 1:1
command[check_proc_clamav_milter]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_procs -C clamav-milter -c 1:1
command[check_proc_spamd]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_procs -C perl --ereg-argument-array=.*spamd.* -c 1:70
command[check_proc_milter_spamd]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_procs -C spamass-milter -c 1:1
command[check_proc_arpwatch]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_procs -C arpwatch -c 1:1
command[check_proc_arpwatch2]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_procs -C arpwatch -c 2:2
command[check_proc_snort]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_procs -C snort -c 1:1
command[check_proc_barnyard2]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_procs -C barnyard2 -c 1:1
command[check_proc_dhcpd]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_procs -C dhcpd -c 1:1
command[check_proc_snmpd]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_procs -C snmpd -c 1:1
command[check_proc_openvpn]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_procs -C openvpn -c 1:10
command[check_secure_level]=/usr/local/libexec/nagios/check_freebsd_secure_level

command[check_file_age_cfengine]=/usr/local/libexec/nagios/check_file_age -w 1800 -c 3600 -f /var/cfengine/promise_summary.log
command[check_file_age_svn_backup]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_file_age -w 90000 -c 100000 -f /var/backups/svn/fulldump.bz2
command[check_file_age_pg_backup]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_file_age -w 93600 -c 100000 -f /var/db/postgres/backups/fulldump.sql.bz2
command[check_file_age_ldap_backup]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_file_age -w 90000 -c 100000 -f /var/backups/dc=kruemel,dc=home.ldif
command[check_file_age_audit_tbz]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_file_age -w 604800 -c 691200 -f /var/db/pkg/vuln.xml

command[check_ntp_time]=/usr/local/libexec/nagios/check_ntp_time -H 0.pool.ntp.org -w 0.2 -c 0.5

command[check_routing_dmz_ip4]=/usr/local/libexec/nagios/check_ping -4 -w 3000.0,80% -c 5000.0,100% -p 5 -H yayap.dmz.kruemel.home
command[check_routing_dmz_ip6]=/usr/local/libexec/nagios/check_ping -6 -w 3000.0,80% -c 5000.0,100% -p 5 -H yayap.dmz.kruemel.home
command[check_routing_lan_ip4]=/usr/local/libexec/nagios/check_ping -4 -w 3000.0,80% -c 5000.0,100% -p 5 -H gizmo.kruemel.home
command[check_routing_lan_ip6]=/usr/local/libexec/nagios/check_ping -6 -w 3000.0,80% -c 5000.0,100% -p 5 -H gizmo.kruemel.home

command[check_portaudit]=/usr/local/libexec/nagios/check_portaudit
command[check_gmirror]=/usr/local/libexec/nagios/check_fb_gmirror
command[check_solsvc]=/usr/local/libexec/nagios/check_solsvc
command[check_zfs]=/usr/local/libexec/nagios/check_zfs

command[check_proc_mailmon]=/usr/local/bin/sudo /usr/local/libexec/nagios/check_proc_pid /var/run/mailmon/mailmond.pid

# Jails
command[check_jail_rundeck]=/usr/local/libexec/nagios/check_freebsd_jails rundeck
command[check_jail_git]=/usr/local/libexec/nagios/check_freebsd_jails git
command[check_jail_nexus]=/usr/local/libexec/nagios/check_freebsd_jails nexus
command[check_jail_nmapservice]=/usr/local/libexec/nagios/check_freebsd_jails nmapservice
command[check_jail_consul]=/usr/local/libexec/nagios/check_freebsd_jails consul
command[check_jail_nmapserviceproxy]=/usr/local/libexec/nagios/check_freebsd_jails nmapserviceproxy
command[check_jail_lastseenservice]=/usr/local/libexec/nagios/check_freebsd_jails lastseenservice
command[check_jail_bugzilla]=/usr/local/libexec/nagios/check_freebsd_jails bugzilla
command[check_jail_webmail]=/usr/local/libexec/nagios/check_freebsd_jails webmail
command[check_jail_www]=/usr/local/libexec/nagios/check_freebsd_jails www
command[check_jail_solaris]=/usr/local/libexec/nagios/check_freebsd_jails solaris
command[check_jail_yapet]=/usr/local/libexec/nagios/check_freebsd_jails yapet
command[check_jail_agentsmith]=/usr/local/libexec/nagios/check_freebsd_jails agentsmith
command[check_jail_portscanner]=/usr/local/libexec/nagios/check_freebsd_jails portscanner
command[check_jail_nostromo]=/usr/local/libexec/nagios/check_freebsd_jails nostromo
command[check_jail_megatron]=/usr/local/libexec/nagios/check_freebsd_jails megatron
command[check_jail_jenkins]=/usr/local/libexec/nagios/check_freebsd_jails jenkins
command[check_jail_starscream]=/usr/local/libexec/nagios/check_freebsd_jails starscream

# The following examples allow user-supplied arguments and can
# only be used if the NRPE daemon was compiled with support for
# command arguments *AND* the dont_blame_nrpe directive in this
# config file is set to '1'.  This poses a potential security risk, so
# make sure you read the SECURITY file before doing this.

#command[check_users]=/usr/local/libexec/nagios/check_users -w $ARG1$ -c $ARG2$
#command[check_load]=/usr/local/libexec/nagios/check_load -w $ARG1$ -c $ARG2$
#command[check_disk]=/usr/local/libexec/nagios/check_disk -w $ARG1$ -c $ARG2$ -p $ARG3$
#command[check_procs]=/usr/local/libexec/nagios/check_procs -w $ARG1$ -c $ARG2$ -s $ARG3$
